/dts-v1/;
#include "skeleton.dtsi"

/ {
	model = "Samsung Galaxy Grand Prime (SC8830)";
	compatible = "sprd,sc8830";

	chosen {
		stdout-path = &uart0;
		/* SimpleFB allows U-Boot to use the screen initialized by the SPL */
		framebuffer0: framebuffer@9f00d000 {
			compatible = "simple-framebuffer";
			reg = <0x9f00d000 0x5ef000>;
			width = <540>;
			height = <960>;
			stride = <2160>; /* 540 * 4 bytes per pixel */
			format = "a8r8g8b8";
		};
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>; /* 1GB RAM */
	};

	/* Spreadtrum UART0 - Base address from scx35_2.dtsi */
	uart0: serial@70000000 {
		compatible = "sprd,sc8830-uart";
		reg = <0x70000000 0x100>;
		interrupts = <0 2 0x4>;
		clock-frequency = <26000000>;
		status = "okay";
	};
};
