CONFIG_ARM=y
CONFIG_ARCH_SPRD=y
CONFIG_TARGET_SC8830_GPRIME=y
CONFIG_SYS_TEXT_BASE=0x80008000
CONFIG_DEFAULT_DEVICE_TREE="sc8830-gprime"
CONFIG_IDENT_STRING=" Gemini-Port-v1.0"
CONFIG_VIDEO=y
CONFIG_VIDEO_SIMPLEFB=y
CONFIG_BAUDRATE=115200
CONFIG_SERIAL_SPRD=y
CONFIG_DM_SERIAL=y
CONFIG_DM_GPIO=y
# CONFIG_MMC is disabled for now as requested
